<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ReadIntervalMillisec" value="200" />
    <add key="PORT" value="8" />
    <add key="AXIS" value="0" />
    <add key="POS_CLAMP" value="1" />
    <add key="POS_RELEASE" value="0" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.11.38.0" newVersion="1.11.38.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>